
<div class="contact" id="contact">
  <h3 class="contact__title">Get in touch</h3>
  <form name="contact" action="POST" class="contact__form" netlify>
    <div class="contact__left">
      <input
        type="text"
        class="contact__input"
        placeholder="Name"
        name="name"
      />
      <input
        type="email"
        class="contact__input"
        placeholder="Email"
        name="email"
      />
      <input
        type="text"
        class="contact__input"
        placeholder="Company"
        name="company"
      />
    </div>
    <div class="contact__right">
      <textarea class="contact__input contact__input--textarea" name="message">
Message</textarea
      >
      <input type="submit" class="contact__submit" value="Send" />
    </div>
  </form>
  <span class="background-text">let's talk</span>
</div>

<img
  src="/static/img/ss__line.svg"
  alt="Cubic Bezier Graphic"
  class="line-img line-img--is-flipped"
/>

<div class="thank-you">
  <span class="background-text">thanks</span>
  <a href="https://github.com/samueldsquire/sam-squire" class="thank-you__link">
    <p class="thank-you__body">View this project on</p>
    <img
      src="/static/img/ss__github.svg"
      alt="Github logo"
      class="thank-you__img"
    />
  </a>
</div>