<header class="site-header">
  <h1><a class="site-title" href="/">Sam Squire</a></h1>
  <nav class="main-nav">
    <a href="/#projects" class="main-nav__link">Projects</a>
    <a href="/#skills" class="main-nav__link">Skills</a>
    <a href="/#personal" class="main-nav__link">Experience</a>
    <a href="/#vitals" class="main-nav__link">Vitals</a>
    <a href="/#contact" class="main-nav__link">Contact</a>
  </nav>
</header>