---
layout: base.njk
title: Sam Squire - A web developer from Devon
---

<div class="hero">
  <div class="hero__wrapper">
    <h1 class="hero__title">Hi, I'm Sam 👋</h1>
    <div class="hero__bottom">
      <h1 class="hero__sub">I'm a</h1>
      <div class="hero__list-wrapper">
        <ul class="hero__list" id="heroList">
          <li class="hero__item">web developer</li>
          <li class="hero__item">team leader</li>
          <li class="hero__item">front end engineer</li>
          <li class="hero__item">thinker</li>
          <li class="hero__item">software developer</li>
          <li class="hero__item">maker</li>
          <li class="hero__item">digital marketer</li>
          <li class="hero__item">salesperson</li>
          <li class="hero__item">drummer</li>
          <li class="hero__item">managing director</li>
          <li class="hero__item">presenter</li>
          <li class="hero__item">backend developer</li>
          <li class="hero__item">videographer</li>
          <li class="hero__item">ux/ui designer</li>
          <li class="hero__item">project manager</li>
        </ul>
      </div>
    </div>

    {% include "mouse-icon.njk" %}
  </div>
  <span class="background-text">web developer</span>
</div>

<img
  src="/static/img/ss__line.svg"
  alt="Cubic Bezier Graphic"
  class="line-img"
/>

<div class="projects" id="projects">
  <div class="projects__top">
    <h3 class="projects__title">Projects</h3>
    <h5 class="projects__sub is-underlined--small">
      Some of the projects I have lead.
    </h5>
  </div>
  <div class="projects__bottom linked">
    
    {% for project in projects %}
      <div
        class="project"
        style="background: url('/static/img/{{ project.image }}'); background-size: cover"
      >
        <h5 class="project__title">{{ project.title }}</h5>
        <a href='project/{{ project.title | slug }}/' class="project__view-link">View Project</a>
        <a href='project/{{ project.title | slug }}/' class="linker"></a>
      </div>
    {% endfor %}

  </div>
  <span class="background-text background-text--work">work</span>
</div>

<div class="skills" id="skills">
  <h3 class="skills__title">I'm good with</h3>
  <div class="skills__wrapper">
    <ul class="skills__list" id="skillsList">
      <li class="skills__item">HTML, CSS &amp; JS</li>
      <li class="skills__item">Node.js</li>
      <li class="skills__item">Version Control</li>
      <li class="skills__item">PHP</li>
      <li class="skills__item">Express.js</li>
      <li class="skills__item">Liquid</li>
      <li class="skills__item">Gulp.js</li>
      <li class="skills__item">Timber</li>
      <li class="skills__item">Pug</li>
      <li class="skills__item">CLI's</li>
      <li class="skills__item">Agile</li>
      <li class="skills__item">Project Management</li>
      <li class="skills__item">Time management</li>
      <li class="skills__item">Leadership</li>
      <li class="skills__item">Budgeting</li>
      <li class="skills__item">Communication</li>
      <li class="skills__item">Sales</li>
      <li class="skills__item">Branding</li>
      <li class="skills__item">Identity design</li>
      <li class="skills__item">UI/UX design</li>
      <li class="skills__item">Digital marketing</li>
      <li class="skills__item">SEO</li>
      <li class="skills__item">PPC</li>
      <li class="skills__item">Social media marketing</li>
      <li class="skills__item">Adobe Premiere</li>
      <li class="skills__item">Video &amp; photo</li>
    </ul>
  </div>
  {% include "mouse-icon.njk" %}
</div>

<div class="personal" id="personal">
  <div class="personal__top">
    <h3 class="personal__title is-underlined--small">Skills &amp; Experience</h3>
    <img
      src="/static/img/ss__headshot.jpg"
      alt="Sam Squire - Headshot"
      class="personal__img"
    />
  </div>
  <div class="personal__bottom">
    <div>
      <p class="personal__column">Hi, I'm Sam. I have...</p>
      <ul class="personal__list">
        <li class="personal__item">
          <span class="personal__number">12+</span> years experience on the web.
        </li>
        <li class="personal__item">
          <span class="personal__number">5</span> years employed.
        </li>
        <li class="personal__item">
          <span class="personal__number">6</span> years freelance.
        </li>
        <li class="personal__item">
          <span class="personal__number">1</span> year agency management.
        </li>
      </ul>
    </div>
    <p class="personal__column">
      <br /><b>Web development: </b>I have created hundreds of bespoke solutions and I am comfortable using a range of tools such as HTML, CSS/Tailwind, JS, PHP, Node.js, CLI’s, build tools, Git and more. I am very comfortable in Shopify and Wordpress and can create themes, plugins and functionality from scratch. I have also worked in ME*N stacks and understand serverless and headless environments and modern web apps.
    </p>
    <p class="personal__column">
      <b>Project &amp; Team Management: </b>I have hands on commercial experience refactoring and optimising internal processes, tooling and devops, managing client accounts and managing a team of developers. I understand agile methodologies and I am currently working towards an agile certification. I have many years experience managing client accounts, project planning and writing SOWs, technical specifications, documentation, estimates and full proposals.
    </p>
    <p class="personal__column">
      <b>Project &amp; Team Management: </b>I am a very down to earth and rational person with a keen eye for detail and optimisation opportunities. Having now worked for a commercial agency I feel my skills would be better suited to a company that cares deeply about the quality of work they produce. I am a problem solver at heart and I am excited to find a role that makes the most of my skillset.
    </p>
  </div>
  <span class="background-text">c'est moi</span>
</div>

<div class="vitals" id="vitals">
  <div class="vitals__top">
    <h3 class="vitals__title is-underlined--small">Vitals</h3>
  </div>
  <div class="vitals__bottom">
    <ul class="vitals__column">
      <li class="vitals__item"><b>DOB: </b>15/12/1989</li>
      <li class="vitals__item"><b>Hometown: </b>Torquay</li>
      <li class="vitals__item"><b>Currently: </b>Newton Abbot</li>
    </ul>
    <ul class="vitals__column">
      <li class="vitals__item"><b>Text editor:</b> VS Code</li>
      <li class="vitals__item"><b>Coffee: </b>Oat flat white</li>
      <li class="vitals__item"><b>Podcast: </b>Shop Talk Show</li>
    </ul>
    <ul class="vitals__column">
      <li class="vitals__item">
        <b>Other experience: </b>2006-2011: Employed, office based development
        and marketing work. UX/UI design, branding and identity, PPC, SEO,
        social media marketing, hosting, domains, email, telephone systems,
        managing a music shop and live music venue, touring as a musician.
      </li>
    </ul>
  </div>
  <span class="background-text">info</span>
</div>

{% include "footer.njk" %}