---
layout: base.njk
title: Sam Squire - A web developer from Devon
---

<header class="site-header">
    <h1 class="site-title">Sam Squire</h1>
    <nav class="main-nav">
        <a href="#projects" class="main-nav__link">Projects</a>
        <a href="#skills" class="main-nav__link">Skills</a>
        <a href="#personal" class="main-nav__link">Personal</a>
        <a href="#contact" class="main-nav__link">Contact</a>
    </nav>
</header>

<div class="hero">
    <div class="hero__wrapper">
        <h1 class="hero__title">Hi, I'm Sam 👋</h1>
        <div class="hero__bottom">
            <h1 class="hero__sub">I'm a</h1>
            <div class="hero__list-wrapper">
                <ul class="hero__list" id="heroList">
                    <li class="hero__item">web developer</li>
                    <li class="hero__item">team leader</li>
                    <li class="hero__item">project manager</li>
                    <li class="hero__item">front end engineer</li>
                    <li class="hero__item">thinker</li>
                    <li class="hero__item">software developer</li>
                    <li class="hero__item">ux/ui designer</li>
                    <li class="hero__item">maker</li>
                    <li class="hero__item">digital marketer</li>
                    <li class="hero__item">newly made uncle</li>
                    <li class="hero__item">salesperson</li>
                    <li class="hero__item">drummer</li>
                    <li class="hero__item">managing director</li>
                    <li class="hero__item">presenter</li>
                    <li class="hero__item">backend developer</li>
                    <li class="hero__item">videographer</li>
                </ul>
            </div>
        </div>
        
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="hero__scroll-icon" version="1.1" viewBox="0 0 220 512" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
                <g fill="#fff" fill-rule="nonzero">
                    <path id="a" d="m200 114c-5.147 0-10.29-1.973-14.201-5.916l-61.653-62.162c-3.789-3.819-8.812-5.922-14.147-5.922s-10.358 2.103-14.146 5.922l-61.654 62.162c-7.778 7.842-20.44 7.895-28.284 0.116-7.843-7.778-7.895-20.442-0.116-28.284l61.653-62.162c11.356-11.449 26.466-17.754 42.547-17.754s31.191 6.305 42.547 17.754l61.653 62.162c7.778 7.842 7.727 20.506-0.116 28.284-3.899 3.868-8.993 5.8-14.083 5.8zm-47.454 380.25c-11.356 11.449-26.466 17.754-42.547 17.754s-31.191-6.305-42.547-17.754l-61.653-62.162c-7.779-7.842-7.727-20.506 0.116-28.284 7.844-7.779 20.506-7.725 28.284 0.116l61.654 62.162c3.788 3.819 8.811 5.922 14.146 5.922s10.358-2.103 14.147-5.922l61.653-62.162c7.778-7.842 20.44-7.894 28.284-0.116 7.843 7.778 7.894 20.442 0.116 28.284l-61.653 62.162z"/>
                    <path class="bounce" id="bounce" d="m179 285c0 38.598-31.402 70-70 70s-70-31.402-70-70 31.402-70 70-70 70 31.402 70 70zm-40 0c0-16.542-13.458-30-30-30s-30 13.458-30 30 13.458 30 30 30 30-13.458 30-30z"/>
                </g>
            </g>
        </svg>

    </div>
    <span class="background-text">web developer</span>
</div>

<img src="/static/img/ss__line.svg" alt="Cubic Bezier Graphic" class="line-img">

<div class="projects" id="projects">
    <div class="projects__top">
        <h3 class="projects__title">Projects</h3>
        <h5 class="projects__sub is-underlined--small">Some of the projects I have lead.</h5>
    </div>
    <div class="projects__bottom">
        <div class="project">
            <img src="/static/img/ss__sheersense.jpg" alt="Sheersense Project Image" class="project__img">
            <h5 class="project__title">Sheer Sense</h5>
        </div>
        <div class="project">
            <img src="/static/img/ss__luca-berardino.jpg" alt="Luca Berardino Project Image" class="project__img">
            <h5 class="project__title">Luca Berardino</h5>
        </div>
        <div class="project">
            <img src="/static/img/ss__andria.jpg" alt="Andria Project Image" class="project__img">
            <h5 class="project__title">Andria Dartmouth</h5>
        </div>
        <div class="project">
            <img src="/static/img/ss__andria-headshot.jpg" alt="Sam Squire Headshot" class="project__img">
            <h5 class="project__title">Sam Squire</h5>
        </div>
        <div class="project">
            <img src="/static/img/ss__jtg.jpg" alt="Jimmy The Giant Project Image" class="project__img">
            <h5 class="project__title">Jimmy The Giant</h5>
        </div>
    </div>
    <span class="background-text background-text--work">work</span>
</div>

<div class="skills">
    <h3 class="skills__title">I'm good with</h3>
    <div class="skills__wrapper">
        <ul class="skills__list" id="skillsList">
            <li class="skills__item">HTML, CSS & JS</li>
            <li class="skills__item">Node.js</li>
            <li class="skills__item">Version Control</li>
            <li class="skills__item">PHP</li>
            <li class="skills__item">Express.js</li>
            <li class="skills__item">Liquid</li>
            <li class="skills__item">Gulp.js</li>
            <li class="skills__item">Timber</li>
            <li class="skills__item">Pug</li>
            <li class="skills__item">CLI's</li>
            <li class="skills__item">Agile</li>
            <li class="skills__item">Project Management</li>
            <li class="skills__item">Time management</li>
            <li class="skills__item">Leadership</li>
            <li class="skills__item">Budgeting</li>
            <li class="skills__item">Communication</li>
            <li class="skills__item">Sales</li>
            <li class="skills__item">Branding</li>
            <li class="skills__item">Identity design</li>
            <li class="skills__item">UI/UX design</li>
            <li class="skills__item">Digital marketing</li>
            <li class="skills__item">SEO</li>
            <li class="skills__item">PPC</li>
            <li class="skills__item">Social media marketing</li>
            <li class="skills__item">Adobe Premiere</li>
            <li class="skills__item">Videography & Photography</li>
        </ul>
    </div>
    <span class="background-text background-text--centered">skills</span>
    <?xml version="1.0" encoding="UTF-8"?>
    <svg class="skills__scroll-icon" version="1.1" viewBox="0 0 220 512" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
            <g fill="#fff" fill-rule="nonzero">
                <path id="a" d="m200 114c-5.147 0-10.29-1.973-14.201-5.916l-61.653-62.162c-3.789-3.819-8.812-5.922-14.147-5.922s-10.358 2.103-14.146 5.922l-61.654 62.162c-7.778 7.842-20.44 7.895-28.284 0.116-7.843-7.778-7.895-20.442-0.116-28.284l61.653-62.162c11.356-11.449 26.466-17.754 42.547-17.754s31.191 6.305 42.547 17.754l61.653 62.162c7.778 7.842 7.727 20.506-0.116 28.284-3.899 3.868-8.993 5.8-14.083 5.8zm-47.454 380.25c-11.356 11.449-26.466 17.754-42.547 17.754s-31.191-6.305-42.547-17.754l-61.653-62.162c-7.779-7.842-7.727-20.506 0.116-28.284 7.844-7.779 20.506-7.725 28.284 0.116l61.654 62.162c3.788 3.819 8.811 5.922 14.146 5.922s10.358-2.103 14.147-5.922l61.653-62.162c7.778-7.842 20.44-7.894 28.284-0.116 7.843 7.778 7.894 20.442 0.116 28.284l-61.653 62.162z"/>
                <path class="bounce" id="bounce" d="m179 285c0 38.598-31.402 70-70 70s-70-31.402-70-70 31.402-70 70-70 70 31.402 70 70zm-40 0c0-16.542-13.458-30-30-30s-30 13.458-30 30 13.458 30 30 30 30-13.458 30-30z"/>
            </g>
        </g>
    </svg>
</div>

<div class="personal" id="personal">
    <div class="personal__top">
        <h3 class="personal__title is-underlined--small">Skills & Experience</h3>
        <img src="/static/img/ss__headshot.jpg" alt="Sam Squire - Headshot" class="personal__img">
    </div>
    <div class="personal__bottom">
        <div>
            <p class="personal__column">Hi, I'm Sam. I have...</p>
            <ul class="personal__list">
                <li class="personal__item"><span class="personal__number">12+</span> years experience on the web.</li>
                <li class="personal__item"><span class="personal__number">5</span> years employed.</li>
                <li class="personal__item"><span class="personal__number">5</span> years freelance.</li>
                <li class="personal__item"><span class="personal__number">2</span> years agency management.</li>
            </ul>
        </div>
        <p class="personal__column"><br><b>Web development skills: </b>HTML, CSS/SCSS, JS, PHP, Node.js, Express.js, CLI's, Timber/Liquid/Pug and more. Creating bespoke solutions from scratch or by extending on platforms like Wordpress, WooCommerce and/or Shopify.</p>
        <p class="personal__column"><b>Management experience: </b>Leading a team of two developers and a designer, knowledge of agile methodologies, project management software, budgeting, time management, securing and nurturing contracts. Very comfortable in client facing roles.</p>
        <p class="personal__column"><b>Current position: </b>Spent 2020 working on new and different projects after closing the company in the Spring; Started an online entertainment show and reached 8k subscribers. Opened #1 rated restaurant in Dartmouth. Worked in Spain for a startup. Now looking for an employed role as a developer with management responsibilities.</p>
    </div>
    <span class="background-text">c'est moi</span>
</div>

<div class="vitals" id="vitals">
    <div class="vitals__top">
        <h3 class="vitals__title is-underlined--small">Vitals</h3>
    </div>
    <div class="vitals__bottom">
        <ul class="vitals__column">
            <li class="vitals__item"><b>DOB: </b>15/12/1989</li>
            <li class="vitals__item"><b>Hometown: </b>Torquay</li>
            <li class="vitals__item"><b>Currently: </b>Newton Abbot</li>
        </ul>
        <ul class="vitals__column">
            <li class="vitals__item"><b>Text editor:</b> VS Code</li>
            <li class="vitals__item"><b>Coffee: </b>Oat flat white</li>
            <li class="vitals__item"><b>Podcast: </b>Shop Talk Show</li>
        </ul>
        <ul class="vitals__column">
            <li class="vitals__item"><b>Other experience: </b>2006-2011: Employed, office based development and marketing work. UX/UI design, branding and identity, PPC, SEO, social media marketing, hosting, domains, email, telephone systems, managing a music shop and live music venue, touring as a musician.</li>
        </ul>
    </div>
    <span class="background-text">info</span>
</div>

<!-- <img src="img/ss__line.svg" alt="Cubic Bezier Graphic" class="line-img line-img--is-flipped"> -->

<div class="contact" id="contact">
    <h3 class="contact__title">Get in touch</h3>
    <form action="/" class="contact__form">
        <div class="contact__left">
            <input type="text" class="contact__input" placeholder="Name" name="name">
            <input type="email" class="contact__input" placeholder="Email" name="email">
            <input type="text" class="contact__input" placeholder="Company" name="company">
        </div>
        <div class="contact__right">
            <textarea class="contact__input contact__input--textarea" name="message">Message</textarea>
            <input type="submit" class="contact__submit" value="Send">
        </div>
    </form>
    <span class="background-text">let's talk</span>
</div>

<img src="img/ss__line.svg" alt="Cubic Bezier Graphic" class="line-img line-img--is-flipped">

<div class="thank-you">
    <span class="background-text">thanks</span>
    <a href="/" class="thank-you__link">
        <p class="thank-you__body">View this project on</p>
        <img src="/static/img/ss__github.svg" alt="Github logo" class="thank-you__img">
    </a>
</div>